service: cautious-invention

provider:
  name: aws
  runtime: python3.7
  region: eu-north-1
  deploymentBucket:
    name: serverless-deployments-est2019

package:
  include:
    - hell*-handler.py
  exclude:
     - ./**    

functions:
  hello:
    handler: hello-handler.hello
  hello2:
    handler: hello2-handler.hello2